@import './colours.scss';

body .container > header {
    margin-top: 10rem;
    margin-bottom: 10rem;
    color: $c3;
    font-weight: bold;
    text-shadow: 0px 0px 6px $c1;

    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 8rem;
    }
    h3 {
        text-align: center;
        text-transform: uppercase;
        font-size: 4rem;
    }

    aside {
        position: absolute;
        right: 0;
        text-align: right;
    }
}
