@import "./colours.scss";
@import "./typography.scss";
@import "./nav.scss";
@import "./header.scss";
@import "./section.scss";
@import "./carousel.scss";

// $backgroundColor: #1c1c1c;
// $textColor: #dbdad8;

body,
html {
	// background: $backgroundColor, url(../images/video-overlay.png);
	// background-size: 100% 100%, 2px 2px;
	// background-repeat: no-repeat, repeat;

	// background: url(../images/location/location-5.jpg);
	// background-position: 50% 50%;
	// background-size:cover;
	// background-attachment: fixed;

	background-color: $cm;

	width: 100%;

	margin: 0;
	padding: 0;

	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
body {
	.en,
	.is {
		display: none;
	}
}

body.en {
	.en {
		display: block;
	}
}

body.is {
	.is {
		display: block;
	}
}

.container {
	z-index: 2;
	position: relative;
	// position: absolute;
	height: 100%;
	// background-image: repeating-linear-gradient(299deg, #343434 0%, #1c1c1c 50%, black 75%, #0b1320 100%);
	background-repeat: repeat;
	background-attachment: scroll;

	margin: 4rem;
	max-width: 1096px;
	// margin-left: 8vw;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#splashVideo,
#video-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	opacity: 1;
	z-index: 0;
}
.youtubeVideoContainer {
	width: 100vw;
	height: 100vh;

	iframe {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100vw;
		height: 100vh;
		transform: translate(-50%, -50%);
	}
}

@media (min-aspect-ratio: 16/9) {
	.youtubeVideoContainer iframe {
		/* height = 100 * (9 / 16) = 56.25 */
		height: 56.25vw;
	}
}

@media (max-aspect-ratio: 16/9) {
	.youtubeVideoContainer iframe {
		/* width = 100 / (9 / 16) = 177.777777 */
		width: 177.78vh;
	}
}

#video-overlay {
	opacity: 1;
}

@media (max-width: 1024px) {
	#splashVideo,
	#video-overlay {
		display: none;
	}
	.container {
		margin-left: 0.5em;
		margin-right: 0.5em;
		width: calc(100% - 1em);
	}

	body .container > header {
		height: 60vh;
		background-image: url("../images/location/location-titleBG.jpg");
		background-position: 50% 50%;
		background-size: cover;
		margin-top: 6em;
		margin-bottom: 0;

		img {
			margin-top: 20vh;
		}
	}
}

.navAnchor {
	position: relative;
	top: -25vh;
}
