@import './colours.scss';

nav {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
    label {
        margin-right: 1em;
        margin-left: 1em;
        margin-bottom: 0.5em;

        height: 4em;
        display: inline-block;
        span {
            cursor: pointer;
           
            h6 {
                padding: 0.1em 0.3em 0.1em 0.3em;
                

                border-radius: $borderRadius;
                color: black;
                // font-family: 'Josefin Sans';
                text-transform: uppercase;
                font-weight: bolder;
                font-size: 44px;

                cursor: pointer;
                transition: transform 0.2s;

                &:hover {
                    transform: scale(1.1);
                }
            }

            

            
        }

        &:nth-of-type(n) span h6 {
            background-color: $cm;
            color:$textColorLight;
            text-shadow: 1px 1px $ca;
        }
        // &:nth-of-type(2n + 1) span h6 {
        //     background-color: $ca;
        //     color:$textColorLight;
        //     text-shadow: 1px 1px $cm;
        // }
        // &:nth-of-type(4n + 2) span h6 {
        //     background-color: $c2;
        //     color:$c2_alt;
        // }
        // &:nth-of-type(4n + 3) span h6 {
        //     background-color: $c3;
        //     color:$c3_alt;
        // }

        input {
            appearance: none;
            margin-left: -1em;
        }

        input:checked + span {
            // background-color: $backgroundColor;
            // border: 2px solid white;
            // color: $textColor;

            border-bottom: 2px solid white;
        }
    }

    @media (max-width: 1024px) {
        text-align: center;
        label {
            height: 3em;
            margin-left: auto;
            margin-right: auto;
            span {
                font-size: 24px;
            }
        }
    }
}
