@import './colours.scss';

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

$bodyFont: 'proxima-nova', Verdana, Geneva, sans-serif;
$titleFont: 'rig-solid-bold-fill', Verdana, Geneva, sans-serif;
$headerFont: 'bd-supper', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;

body,
html {
    font-family: $bodyFont;
    letter-spacing: 0.03em;
    color: $textColor;
}

h1,
h2,
h3,
h4,
header {
    font-family: $headerFont;
    font-weight: 600;
    letter-spacing: -0.02em;
}

h5,
h6 {
    font-family: $headerFont;
    font-weight: normal;
    letter-spacing: 0.02em;
}

h6 {
    font-weight: lighter;
    letter-spacing: 0.05em;
    font-size: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
    display: block;
    line-height: 1.1em;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 42px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 1.25em;
    margin-top: 1px;
    font-weight: bold;
}

a {
    color: lighten($textColor, 30);
    text-decoration: none;

    &:hover {
        border-bottom: 1px solid #6d6d6d;
    }
}

p,
li,
ul {
    line-height: 1.5em;
    // font-size: 1.25em;
    color: darken($textColor, 20);
}

// MOBILE
@media (max-width: 1024px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 27px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }
}
