/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in Hex */
.c0 {
  color: #bf7582; }

.c1 {
  color: #d99e6a; }

.c2 {
  color: #58846e; }

.c3 {
  color: #f2d194; }

.c4 {
  color: #f2f2f2; }

@keyframes colourCycle {
  0% {
    color: #bf7582; }
  50% {
    color: #d99e6a; }
  100% {
    color: #bf7582; } }
