/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in Hex */
.c0 {
  color: #bf7582; }

.c1 {
  color: #d99e6a; }

.c2 {
  color: #58846e; }

.c3 {
  color: #f2d194; }

.c4 {
  color: #f2f2f2; }

@keyframes colourCycle {
  0% {
    color: #bf7582; }
  50% {
    color: #d99e6a; }
  100% {
    color: #bf7582; } }

nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 10em;
  margin-left: 0;
  margin-bottom: 3em;
  text-align: center;
  z-index: 10;
  background-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  opacity: 1; }
  nav #navInner {
    margin-top: 1em; }
    nav #navInner label {
      margin-right: 1em;
      margin-left: 1em;
      height: 3em;
      display: inline-block; }
      nav #navInner label span {
        cursor: pointer; }
        nav #navInner label span h6 {
          padding: 0.2em 0.3em 0.1em 0.3em;
          border-radius: 0.1em;
          color: black;
          text-transform: uppercase;
          font-weight: bolder;
          font-size: 30px;
          cursor: pointer;
          transition: transform 0.2s;
          background-color: #f2d194;
          color: white;
          text-shadow: 1px 1px #bf7582; }
          nav #navInner label span h6:hover {
            transform: scale(1.1); }
      nav #navInner label input {
        appearance: none;
        margin-left: -1em; }
      nav #navInner label input:checked + span {
        border-bottom: 2px solid white; }
    @media (max-width: 1024px) {
      nav #navInner {
        text-align: center; }
        nav #navInner label {
          height: 3em;
          margin-left: auto;
          margin-right: auto; }
          nav #navInner label span {
            font-size: 24px; } }
  @media (max-width: 1024px) {
    nav {
      width: 100vw;
      background: black; }
      nav #navInner {
        clear: both;
        margin: 0; }
        nav #navInner label {
          height: 1.5em;
          display: block; }
          nav #navInner label span {
            font-size: 1em;
            background-color: transparent;
            color: white; }
            nav #navInner label span h6 {
              font-size: 1em;
              background-color: transparent;
              padding: 0;
              position: relative;
              top: -1em; } }
