/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in Hex */
.c0 {
  color: #bf7582; }

.c1 {
  color: #d99e6a; }

.c2 {
  color: #58846e; }

.c3 {
  color: #f2d194; }

.c4 {
  color: #f2f2f2; }

@keyframes colourCycle {
  0% {
    color: #bf7582; }
  50% {
    color: #d99e6a; }
  100% {
    color: #bf7582; } }

section {
  padding: 1rem;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 0.1em;
  background-color: transparent; }
  section p {
    color: black; }
  section:nth-of-type(2) {
    background-color: #d99e6a; }
    section:nth-of-type(2) header {
      background-color: #58846e;
      color: white; }
  section:nth-of-type(3) {
    background-color: #f2d194; }
    section:nth-of-type(3) header {
      background-color: #f2f2f2;
      color: #242424; }
  section:nth-of-type(4) {
    background-color: #f2f2f2; }
    section:nth-of-type(4) header {
      background-color: #d99e6a;
      color: white; }
  section:nth-of-type(5) {
    background-color: #f2d194; }
    section:nth-of-type(5) header {
      background-color: #f2f2f2;
      color: white; }
  section:nth-of-type(6) {
    background-color: #58846e; }
    section:nth-of-type(6) header {
      background-color: #f2d194;
      color: white; }
  section header {
    width: auto;
    padding: 0.2em 0.2em 0.1em 0.2em;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    overflow: hidden;
    display: block; }
  section article {
    width: 100%;
    float: left; }
  section button {
    border-radius: 0.1em;
    padding: 1em;
    font-size: 1.5rem;
    background-color: #f2d194;
    border: none;
    cursor: pointer;
    transition: background-color, transform 0.2s, 0.2s; }
    section button:hover {
      transform: scale(1.05);
      background-color: white; }
  section .www {
    width: 33%;
    overflow: visible;
    float: left;
    text-align: center;
    background-color: #58846e;
    padding-bottom: 1em; }
    section .www header {
      font-size: 3rem;
      text-align: center;
      background-color: #f2d194;
      margin: 0.5em;
      color: white;
      text-shadow: 1px 1px #bf7582; }
    section .www p {
      height: 12rem;
      margin: 0.5em; }
