/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in Hex */
.c0 {
  color: #bf7582; }

.c1 {
  color: #d99e6a; }

.c2 {
  color: #58846e; }

.c3 {
  color: #f2d194; }

.c4 {
  color: #f2f2f2; }

@keyframes colourCycle {
  0% {
    color: #bf7582; }
  50% {
    color: #d99e6a; }
  100% {
    color: #bf7582; } }

section {
  padding: 1rem;
  margin-bottom: 2rem;
  min-height: 100% !important;
  display: block;
  border-radius: 0.1em;
  background-color: transparent; }
  section p,
  section h1,
  section h2,
  section h3,
  section h4,
  section h5,
  section li {
    color: #313131; }
  section h1,
  section h2,
  section h3,
  section h4,
  section h5,
  section h6 {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem; }
  section p,
  section ul {
    margin: 0;
    margin-bottom: 2.25em;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.2em; }
  section.centerAlign {
    text-align: center; }
  section *.centerAlign {
    text-align: center; }
  section:nth-of-type(1n) {
    background-color: #d99e6a; }
    section:nth-of-type(1n) header {
      background-color: #f2d194;
      color: #313131; }
  section:nth-of-type(2n) {
    background-color: #f2d194; }
    section:nth-of-type(2n) header {
      background-color: #d99e6a;
      color: white; }
  section header {
    width: auto;
    padding: 0.5rem 1rem 0.25rem 1rem;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
    overflow: hidden;
    display: block;
    margin-bottom: 2rem; }
  section article {
    width: 100%;
    min-height: 100% !important;
    margin-bottom: 2em;
    clear: both; }
    section article p ul {
      margin-top: 0;
      margin-bottom: 0; }
  section button {
    border-radius: 0.1em;
    padding: 1em;
    font-size: 1.5rem;
    background-color: #f2d194;
    border: none;
    cursor: pointer;
    transition: background-color, transform 0.2s, 0.2s; }
    section button:hover {
      transform: scale(1.05); }
    section button.bigButton {
      animation-name: pulseScale;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      margin-top: 1rem; }
      section button.bigButton * {
        vertical-align: middle;
        margin: 0; }
  section img {
    width: 100%;
    margin-top: 0;
    margin-bottom: 2rem; }
    section img.floatLeft {
      width: 50%;
      float: left;
      margin-right: 2em;
      margin-left: -2em; }
    section img.floatRight {
      width: 50%;
      float: right;
      margin-left: 2em;
      margin-right: -2em; }
    section img.double {
      width: 49.5%;
      float: left; }
    section img.triple {
      width: 33.3%;
      float: left; }
    section img.small {
      width: 40%; }
    section img.smaller {
      width: 30%; }
    section img.overlay {
      mix-blend-mode: multiply; }
  section .trio-container {
    width: 100%;
    overflow: hidden; }
    section .trio-container .trio {
      width: 33.33%;
      overflow: hidden;
      position: relative;
      float: left;
      min-height: 100% !important;
      display: block;
      text-align: center;
      padding-bottom: 1em; }
      section .trio-container .trio p {
        margin: 0.5em; }
      section .trio-container .trio img {
        margin: 2rem; }
  section .trio-buttons {
    width: 100%;
    overflow: hidden; }
    section .trio-buttons a {
      width: 33%;
      display: block;
      float: left;
      margin-bottom: 1rem; }
      section .trio-buttons a:hover {
        text-decoration: none;
        border-bottom: none; }
      section .trio-buttons a button {
        width: 50%;
        min-width: 10rem;
        text-align: center;
        display: block;
        margin-top: 1rem;
        bottom: 1rem;
        margin-left: auto;
        margin-right: auto; }
        section .trio-buttons a button h5 {
          background-color: #f2d194;
          color: white;
          text-shadow: 1px 1px #bf7582;
          margin: 0; }
  section#schedule {
    overflow: hidden; }
    section#schedule article:nth-of-type(-n + 3) {
      clear: none;
      float: left;
      width: 33%; }
    section#schedule p,
    section#schedule ul {
      margin-bottom: 0.5rem;
      font-size: 1.1rem; }
  @media (max-width: 1024px) {
    section header {
      font-size: 2rem;
      margin-left: -1rem;
      padding-left: 1rem; }
    section p,
    section ul {
      font-size: 1rem;
      margin-bottom: 0.75rem; }
    section ul {
      padding-left: 1rem; }
    section .www-container .www {
      width: 100%; }
    section .www-buttons a {
      width: 100%; }
    section#schedule {
      overflow: hidden; }
      section#schedule article:nth-of-type(-n + 3) {
        clear: none;
        float: left;
        width: 50%;
        text-align: center; }
      section#schedule p,
      section#schedule ul {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
        margin-left: 0;
        padding-left: 0;
        padding-right: 1rem;
        list-style: none; }
    section img.floatLeft {
      width: 60%;
      float: left;
      margin-right: 1.5rem;
      margin-left: -2rem; }
    section img.floatRight {
      width: 60%;
      float: right;
      margin-left: 1.5rem;
      margin-right: -2rem; }
    section img.double {
      width: 49.5%;
      float: left; }
    section img.triple {
      width: 33.3%;
      float: left; } }

@keyframes pulseScale {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.05); } }
