/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in Hex */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
.c0 {
  color: #bf7582; }

.c1 {
  color: #d99e6a; }

.c2 {
  color: #58846e; }

.c3 {
  color: #f2d194; }

.c4 {
  color: #f2f2f2; }

@keyframes colourCycle {
  0% {
    color: #bf7582; }
  50% {
    color: #d99e6a; }
  100% {
    color: #bf7582; } }

body,
html {
  font-family: "proxima-nova", Verdana, Geneva, sans-serif;
  letter-spacing: 0.03em;
  color: #313131; }

h1,
h2,
h3,
h4,
header {
  font-family: "bd-supper", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: -0.02em; }

h5,
h6 {
  font-family: "bd-supper", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.02em; }

h6 {
  font-weight: lighter;
  letter-spacing: 0.05em;
  font-size: 80%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  display: block;
  line-height: 1.1em; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 64px; }

h3 {
  font-size: 42px; }

h4 {
  font-size: 32px; }

h5 {
  font-size: 24px; }

h6 {
  margin-bottom: 3px;
  font-size: 16px;
  line-height: 1.25em;
  margin-top: 1px;
  font-weight: bold; }

a {
  color: #7d7d7d;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid #6d6d6d; }

p,
li,
ul {
  line-height: 1.5em;
  color: black; }

@media (max-width: 1024px) {
  h1 {
    font-size: 48px; }
  h2 {
    font-size: 48px; }
  h3 {
    font-size: 27px; }
  h4 {
    font-size: 24px; }
  h5 {
    font-size: 20px; } }
